.cartModel {
  width: 369px;
  height: 224px;
  cursor: pointer;
  border: 1px solid #eeeeee;
}
.cartModel_active {
  border: 1px solid #0ec261;
}

.cartModel:hover {
  border: 1px solid #999999;
}
.cartModel_active:hover {
  border: 1px solid #0ec261;
}

.cartModel__img {
  width: 256px;
  margin: 38px 17px 17px 95px;
}

.cartModel__text_name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
}

.cartModel__text_price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.cartModel__text {
  margin-top: 15px;
  margin-left: 15px;
}
