.cartModel {
  width: 369px;
  height: 224px;
  cursor: pointer;
  border: 1px solid #eeeeee;

  &_active {
    border: 1px solid #0ec261;
  }
  &:hover {
    border: 1px solid #999999;
  }
}

.cartModel_active:hover {
  border: 1px solid #0ec261;
}

.cartModel__text {
  margin-top: 15px;
  margin-left: 15px;
}

.cartModel__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
}

.cartModel__price {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.cartModel__img {
  max-width: 256px;
  max-height: 116px;
  margin: 38px 17px 17px 95px;
}
