.tabs_left_content_radioContent {
    display: flex;
    margin-left: 3.5%;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  
  .radio_box {
    margin-right: 5px;
    border: 1px solid #999999;
    box-sizing: border-box;
  }
  
  .radio_text {
    margin-right: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #999999;
  }