.carSettings_container {
  width: 697px;
  height: 890px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  margin-top: 30.5px;
  position: relative;
}

.carSettings_container_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 17.5px;
  line-height: 21px;
  letter-spacing: -0.4375px;
  color: #3d5170;
  margin: 19.5px 0 42px 18px;
}

.carSettings_container_setting {
  display: flex;
}
.carSettings_container_setting_carModel {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 0 31px 18px;
}
.carSettings_container_setting_carType {
  width: 320px;
  display: flex;
  flex-direction: column;
  margin: 0 0 31px 21px;
}
.carSettings_container_setting_carModel_input {
  width: 307px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #becad6;
  border-radius: 4px;
  outline: none;
  padding-left: 11px;
}
.carSettings_container_setting_carType_input {
  width: 307px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #becad6;
  border-radius: 4px;
  outline: none;
  padding-left: 11px;
}
.carSettings_container_setting_carModel_title {
  margin-bottom: 4.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #121212;
}
.carSettings_container_setting_carType_title {
  margin-bottom: 4.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #495057;
}
.carSettings_container_availableСolors {
  position: relative;
  width: 296px;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 18px;
}
.carSettings_container_availableСolors_title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #121212;
  margin-bottom: 4.5px;
}
.carSettings_container_availableСolors_input {
  width: 270px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #becad6;
  border-radius: 4px;
  outline: none;
  padding-left: 11px;
}

.carSettings_container_availableСolors_button {
  width: 28px;
  height: 28px;
  position: absolute;
  border: 1px solid #becad6;
  border-radius: 4px;
  right: -24px;
  top: 16.5px;
}
.carSettings_container_availableСolors_button:before,
.carSettings_container_availableСolors_button:after {
  position: absolute;
  left: 13px;
  content: " ";
  height: 15px;
  width: 2px;
  background-color: #becad6;
  top: 7px;
}
.carSettings_container_availableСolors_button:before {
  transform: rotate(0deg);
}
.carSettings_container_availableСolors_button:after {
  transform: rotate(-90deg);
}

.carSettings_container_checkBoxColors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 18px;
}

.carSettings_container_checkBoxColors_form_label {
  display: flex;
  gap: 8px;
}

.carSettings_container_checkBoxColors_form_label_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.175439px;
  color: #495057;
}

.carSettings_container_buttons {
  display: flex;
  margin-left: 18px;
  position: absolute;
  bottom: 18px;
  width: 100%;
  justify-content: space-between;
}

.carSettings_container_buttons_control_save {
  width: 110px;
  height: 30px;
  margin-right: 12.5px;
  background: #007bff;
  border: 0.5px solid #007bff;
  border-radius: 4px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: #ffffff;
}
.carSettings_container_buttons_control_cancel {
  width: 110px;
  height: 30px;
  background: #e9ecef;
  border-radius: 4px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: #3d5170;
  border:none;
}
.carSettings_container_buttons_control_delete {
  width: 110px;
  height: 30px;
  margin-right: 36px;
  background: #cb3656;
  border-radius: 4px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 13px;
  text-align: center;
  letter-spacing: -0.0821429px;
  color: #ffffff;
  border:none;
}
