.tabs {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.tabs__container {
  position: relative;
  display: flex;
  height: calc(100% - 30px);
}

.tabs__mainContent {
  min-height: 100%;
  width: 70%;
  position: relative;
  margin-left: 64px;
  overflow: overlay;
}

.tabs__lining {
  display: none;
  font-family: 'Roboto';

  &_active{
    display: block;
    margin-top: 30px;
  }
}


.tabs__orderBlock {
  height: 100%;
  width: 30%;
  position: relative;
  min-height: 100%;
  border-left-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
}
