.container_tabs_tabs-maincontent {
  position: relative;
  display: flex;
  height: calc(100% - 30px);
}
.container_tabs_tabs-maincontent_leftContent {
  min-height: 100%;
  width: 70%;
  position: relative;
  margin-left: 64px;
  overflow: overlay;
}
.container_tabs_tabs-maincontent_leftContent_content-tabs {
  display: none;
}
.container_tabs_tabs-maincontent_leftContent_content-tabs_active {
  display: block;
  margin-top: 30px;
}

.container_tabs_navigation {
  height: 28px;
  position: relative;
}

.container_tabs_navigation_category {
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}
.container_tabs_navigation_category_tab {
  margin-top: 5px;
  margin-bottom: 5px;

  &.container_tabs_navigation_category_tab_active {
    color: #0ec261;
  }

  &.container_tabs_navigation_category_tab_disabled {
    pointer-events: none;
    color: #999999;
  }

  &.container_tabs_navigation_category_tab_complete {
    color: #121212;
  }
}

.container_tabs_navigation_category_tabName {
  cursor: pointer;
}

.container_tabs_navigation_category_img {
  margin-right: 1vw;
  margin-left: 1vw;
  pointer-events: none;
}

.container_tabs {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.margin-left {
  margin-left: 64px;
}

.container_tabs_tabs-maincontent_rightContent {
  height: 100%;
  width: 30%;
  position: relative;
  min-height: 100%;
  border-left-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  margin: 0;
  padding: 0;
}
