.container_tabs {
  height: 100%;
  min-height: 100%;
  position: relative;
}

.navigation__category {
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
}

.nav_category__type {
  cursor: pointer;
}

.navigation__category_options {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  /*  margin-top: 0.5%;
    margin-bottom: 0.5%; */
}

.navigation__category_img {
  margin-right: 1vw;
  margin-left: 1vw;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;

  &.active {
    color: #0ec261;
  }

  &.disabled {
    pointer-events: none;
    color: #999999;
  }

  &.complete {
    color: #121212;
  }
}

.content-tabs {
  display: none;
}

.active-tabs-content {
  display: block;
  margin-top:30px;
}

.margin-left {
  margin-left: 64px;
}

.tabs-maincontent {
  position: relative;
  display: flex;
  height: calc(100% - 30px);
}

.tabs_left_content {
  min-height: 100%;
  width: 70%;
  position: relative;
  margin-left:64px;
  overflow: overlay;
}

.tabs_right_content {
  height: 100%;
  width: 30%;
 
}

.tabs-img {
  width: 400px;
  height: 400%;
  /* margin-left: 2.5%;
  margin-top: 5%; */
}

.tabs_right_content {
  position: relative;
  min-height: 100%;
  border-left-style: solid;
  border-color: #eeeeee;
  border-width: 1px;
  margin: 0;
  padding: 0;
}

.block-tabs {
  height: 28px;
  position: relative;

}

.active-tabs-content-model_cart {
  /*  display: flex;
  
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-top: 20px;
  overflow: hidden;  */
 
   ////////// tyt
   display: flex;
  flex-wrap: wrap;  
   overflow: hidden; 
 padding: 1px 0 0 1px;   

}

.tabs_left_content_radioContent {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left:1px;
}



.nav_category_orderNumber_block{
  width:100%;
}
.nav_category__orderNumber {
  margin-left: 2.5%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
} 
