.header__title {
  display: flex;
  justify-content: space-between;
  
}

.header_content {
  height: 80px;
  position: relative;
 /*  margin-bottom:15px; */
}

.header__title__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #0ec261;
  margin-top: 27px;
  margin-left:64px;
}

.header__title__city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-left: 4px;
  margin-top: 1px;
}

.header__title__geolocation {
  margin-top: 37px;
  display: flex;
  align-items: center;
}

.header__geo {
  margin-right: 64px; 
}

/* .navigation__category {
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 0.2vw;
  border-color: #EEEEEE;
  


}

.navigation__category_options {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

.navigation__category_img {
  margin-right: 1vw;
  margin-left: 1vw;
} */
