.adminAuthorization_fillField_title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 17.5px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.4375px;
  color: #3d5170;
  margin-top: 19px;
}

#adminAuthorization_title_circleContainer {
  width: 44.5px;
  height: 44.5px;
  position: relative;
  margin-right: 11.5px;
}
.adminAuthorization_title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 16.5px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3d5170;
  margin-top: 167px;
}

#adminAuthorization_title_circleContainer_circleSmall {
  background-color: #0ec261;
  width: 18.5px;
  height: 18.5px;
  border-radius: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

#adminAuthorization_title_circleContainer_circleLarge {
  background: #0ec261;
  width: 44.5px;
  height: 44.5px;
  border-radius: 50%;
  text-align: center;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
#adminAuthorization_title_circleContainer_circleLarge_circleSmallTwo {
  width: 18.5px;
  height: 18.5px;
  background: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
}

#adminAuthorization_title_circleLarge {
  background: #0ec261;
  color: white;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  overflow: hidden;
}
#adminAuthorization_title_circleSmall {
  background-color: white;
  color: black;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin: 0 auto;
}

.adminAuthorization_fillField {
  width: 376.5px;
  height: 253.5px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
}

.adminAuthorization_fillField_mailEntryFields {
  margin-top: 35.5px;
}
.adminAuthorization_fillField_passwordEntryFields {
  margin-top: 15px;
}
.adminAuthorization_fillField_mailEntryFields,
.adminAuthorization_fillField_passwordEntryFields {
  display: flex;
  flex-direction: column;
  position: relative;
}

.adminAuthorization_fillField {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.adminAuthorization_fillField_entryBlock {
  display: flex;
  justify-content: space-between;
  width: 341.5px;
  margin-top: 15px;
  align-items: center;
  position: relative;
}

.adminAuthorization_fillField_mailEntryFields_inputMail,
.adminAuthorization_fillField_passwordEntryFields_inputPassword {
  width: 341.5px;
  height: 29px;
  outline: none;
  background: #ffffff;
  border: 0.5px solid #becad6;
  border-radius: 3px;
  box-sizing: border-box;
  padding-left: 11.5px;
}

.adminAuthorization_fillField_entryBlock_botton {
  width: 110px;
  height: 29px;
  background: #007bff;
  border: 0.5px solid #007bff;
  border-radius: 4px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 11.5px;
  line-height: 13px;
  letter-spacing: -0.0821429px;
  color: #ffffff;
  pointer-events: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.adminAuthorization_fillField_entryBlock_botton_active {
  pointer-events: all;
  cursor: pointer;
}
.adminAuthorization_fillField_entryBlock_botton_active:hover {
  background: #034489;
}
.adminAuthorization_fillField_entryBlock_botton_active:active {
  background: #02264d;
}

.adminAuthorization_fillField_entryBlock_linkEntry {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #007bff;
}

.adminAuthorization_fillField_mailEntryFields_mail,
.adminAuthorization_fillField_passwordEntryFields_password {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #495057;
  margin-bottom: 8.5px;
}

.adminAuthorization_fillField_mailEntryFields_error,
.adminAuthorization_fillField_inputPassword_error {
  position: absolute;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: -0.175439px;
  color: #c4183c;
  bottom: -12px;
  left: 11.5px;
}

.adminAuthorization_fillField_mailEntryFields_inputMail_error,
.adminAuthorization_fillField_passwordEntryFields_inputPassword_error {
  border: 0.5px solid #c4183c;
}

.linkAuth {
  position: absolute;
  right: 120px;
  font-size: 12px;
  text-decoration: none;
}
