.mapWithAuto__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-top: 20px;
}

.mapWithAuto__map {
  width: 400px;
}
