@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

.clear {
  * {
    box-sizing: border-box;
    outline: none;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
  }
}

.left-Container {
  height: 100%;
  width: auto;
  /* display: flex;
  flex-direction: column; */
  justify-content: space-between;
  margin-left: 64px;
  margin-right: 64px;
}

.left-Container_head {
  display: flex;
  justify-content: space-between;

  margin-bottom: 163px;
}

.left-Container_head__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #0ec261;
  margin-top: 27px;
}

.left-Container_head__geolocation {
  display: flex;
  /* margin-top: 9px; */
  margin-top: 36px;
}
.left-Container_head__geolocation_city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  align-self: center;
  margin-top: 1px;
}

.left-Container_head__geolocation_img {
  align-self: center;
  margin-right: 4px;
}

.left-Container_mainContent_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: #121212;
}

.left-Container_mainContent_title_container {
  margin-bottom: 34px;
}

.left-Container_mainContent-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 66px;
  color: #0ec261;
}

.left-Container_mainContent__container_text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 26px;
  line-height: 30px;
  color: #999999;
  margin-bottom: 60px;
}
.left-Container_mainContent__container {
  margin-bottom: 60px;
}

.left-Container_mainContent_button {
  display: flex;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  text-decoration: none;
  background-blend-mode: darken;
  border-radius: 8px;
  border: 0;
  width: 250px;
  height: 48px;
  cursor: url(../../assets/svg/Cursor.svg), pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

.left-Container_mainContent_button:hover {
  background: linear-gradient(90deg, #0b934a 2.61%, #026e47 112.6%);
}

.left-Container_mainContent_button:active {
  background: linear-gradient(90deg, #076432 2.61%, #013c27 112.6%);
  background-blend-mode: darken;
}

.left-Container_foot {
  position: absolute;
  display: flex;
  left: 64px;
  right: 64px;
  bottom: 32px;
  justify-content: space-between;
}

.left-Container_foot__year {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #999999;
}

.left-Container_foot__number {
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #121212;
}
.left-Container_foot__number:hover {
  color: #0ec261;
}

@media screen and (min-width: 2200px) {
  
  .left-Container_head__name {
    font-size: 1.2vw;
  }

  .left-Container_head__geolocation_img {
    width: 1vw;
    height: 1vw;
  }

  .left-Container_head__geolocation_city {
    font-size: 0.7vw;
  }

  .left-Container_mainContent_title,
  .left-Container_mainContent-title {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .left-Container_mainContent__container_text {
    font-size: 1.3vw;
    line-height: 1.3vw;
  }

  .left-Container_mainContent_button {
    font-size: 1vw;
    width: 15vw;
    height: 3vw;
    border-radius: 0.6vw;
  }

  .left-Container_foot__number,
  .left-Container_foot__year {
    font-size: 0.7vw;
  }
}
@media screen and (max-width: 1024px) {
  .left-Container {
    margin-left: 33px;
    margin-right: 33px;
  }
  .left-Container_foot {
    left: 33px;
    right: 33px;
  }
}

/* @media screen and (max-width: 850px) {
  .left-Container_mainContent-title {
    font-size: 60px;
    line-height: none;
  }

  .left-Container_mainContent_title {
    font-size: 60px;
    line-height: none;
  }
} */

 @media screen and (max-width: 495px) {
  .left-Container_mainContent-title {
    font-size: 40px;
    line-height: 40px;
  }

  .left-Container_mainContent_title {
    font-size: 40px;
    line-height: 40px;
  }
} 

/* @media screen and (max-width: 435px) {
  .left-Container_head__name {
    font-size: 23px;
    line-height: 35px;
    color: #0ec261;
  }
  .left-Container_foot__number {
    font-size: 10px;
    line-height: 15px;
  }
  .left-Container_foot__year {
    font-size: 10px;
    line-height: 15px;
  }
} */

@media screen and (max-width: 350px) {
  .left-Container_mainContent_title {
    font-size: 32px;
    line-height: 100%;
    margin-right: 16px;
    margin-left: 16px;
  }

  .left-Container_mainContent-title {
    font-size: 32px;
    line-height: 100%;
    margin-right: 16px;
    margin-left: 16px;
  }
  /* .left-Container_head__geolocation_city {
    margin-top: 5px;
  } */
  .left-Container_mainContent__container_text {
    font-size: 18px;
    line-height: 18px;
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom:32px;
  }

  .left-Container_head {
    flex-direction: column;
    align-items: flex-end;
    margin-bottom:34px;
    /*  margin-right: 10px;
    margin-top: 25px; */
  }
  .left-Container_head__name {
    font-size: 30px;
    line-height: 35px;
    margin-right: 16px;
    margin-top:16px;
  }

  .left-Container_foot {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 0;
    position: relative;
    background-color: #151b1f;
    font-size: 13px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
  }

  .left-Container_foot__year {
    font-size: 13px;
    line-height: 15px;
    margin-right: 16px;
    margin-bottom:16px;
    color: #EEEEEE;
  }

  .left-Container_foot__number {
    line-height: 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #0ec261;
    margin-right: 16px;
    margin-bottom: 8px;
    margin-top: 16px;
  }

  .left-Container {
    margin: 0;
    padding: 0;
  }

  .left-Container_head__geolocation {
    margin-top: 8px;
    margin-right: 16px;
  }

  .left-Container_mainContent_button {
    position: absolute;
    width: 100%;
    height: 50px;
    border-radius: 0;
  }
  .left-Container_mainContent_title_container{
    margin-bottom:16px;
  }





}

