.dataPicker__name {
  margin-bottom: 16px;
  margin-top: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.dataPicker__startDate {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.dataPicker__text {
  margin-left: 9px;
  margin-right: 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}
.dataPicker__textTwo {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.dataPicker__container {
  display: flex;
}

.dataPicker__endDate {
  display: flex;
  margin-bottom: 8px;
  align-items: center;
}

.dataPicker__textError {
  width: 270px;
}

.react-datepicker__input-container {
  width: 224px;
  margin-left: 8px;
  border-bottom: 1px solid #999999;
  input {
    border: none;
    margin-left: 5px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #121212;
  }
  &::placeholder {
    color: #999999;
  }
}

.react-datepicker-ignore-onclickoutside:focus-visible {
  outline: none;
}
.react-datepicker__close-icon::after {
  cursor: pointer;
  background: none;
  color: #121212;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  content: "×";
  font-size: 17px;
  width: 20px;
}

.react-datepicker-wrapper {
  width: 250px;
}
