.confirmationBar {
  position: absolute;
  width: 100%;
  height: 42px;
  background: #0ec261;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;

  &_active {
    display: flex;
    z-index: 1;
  }
}

.confirmationBar__imgAccept {
  margin-left: 27.5px;
}

.confirmationBar__text {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.325px;
  color: #ffffff;
  margin-left: 9px;
}

.confirmationBar__imgCancel {
  margin-right: 32.5px;
  cursor: pointer;
}
