.rentalRentBlock_title {
  margin-top: 30px;
  margin-bottom: 15px;
}
.rentalRentBlock_mainContent_minutRent {
  display: flex;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rentalRentBlock_mainContent_minutRent_label {
  display: flex;
  margin-right: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  align-items: center;
}
span .rentalRentBlock_mainContent_minutRent_label {
  margin-bottom: 5px;
}
input[type="radio"]:checked
  + span
  + .rentalRentBlock_mainContent_minutRent_label_textColor {
  color: #121212;
}
.rentalRentBlock_mainContent_minutRent_label_input {
  position: absolute;
  opacity: 0;
  margin-right: 5px;
  border: 1px solid #999999;
  box-sizing: border-box;
}
.rentalRentBlock_mainContent_minutRent_label_input:checked
  + .rentalRentBlock_mainContent_minutRent_label_fakeCheckBox::before {
  opacity: 1;
}
.rentalRentBlock_mainContent_minutRent_label_fakeCheckBox {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
.rentalRentBlock_mainContent_minutRent_label_fakeCheckBox::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 4px solid #0ec261;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}




.rentalRentBlock_mainContent_daysRent {
  display: flex;
  margin-left: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.rentalRentBlock_mainContent_daysRent_label {
  display: flex;
  margin-right: 15px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  align-items: center;
}
span .rentalRentBlock_mainContent_daysRent_label {
  margin-bottom: 5px;
}
input[type="radio"]:checked
  + span
  + .rentalRentBlock_mainContent_daysRent_label_textColor {
  color: #121212;
}
.rentalRentBlock_mainContent_daysRent_label_input {
  position: absolute;
  opacity: 0;
  margin-right: 5px;
  border: 1px solid #999999;
  box-sizing: border-box;
}
.rentalRentBlock_mainContent_daysRent_label_input:checked
  + .rentalRentBlock_mainContent_daysRent_label_fakeCheckBox::before {
  opacity: 1;
}
.rentalRentBlock_mainContent_daysRent_label_fakeCheckBox {
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
}
.rentalRentBlock_mainContent_daysRent_label_fakeCheckBox::before {
  content: "";
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  border: 4px solid #0ec261;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
