.table-wrapper {
  table-layout: fixed;
  width: 65%;
  border-collapse: collapse;
}

tbody td,
.table-wrapper__lines {
  text-align: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.377143px;
  color: #3d5170;
}

.table-wrapper__links,
.table-wrapper__links:active,
.table-wrapper__links:hover {
  text-decoration: none;
  color: inherit;
}

th,
td {
  padding: 0 20px 20px 20px;
}

tr th {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: -0.377143px;
  color: #3d5170;
}
