.additionalServices {
  margin-top: 30px;
  width: 170px;
}

.additionalServices__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}