.modal {
  height: 100vh;
  width: 100vw;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:30px;
  transform: translateX(-100%);
}

.modal_active{
  transform: translateX(0);
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #121212;
}

.modal__button_confirm {
  width: 180px;
  height: 50px;
  background: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
  background-blend-mode: darken;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  font-size: 18px;
}
.modal__button_confirm:hover{
  background: linear-gradient(90deg, #0B934A 2.61%, #026E47 112.6%);
  cursor: pointer;
}

.modal__button_confirm:active {
  background: linear-gradient(90deg, #076432 2.61%, #013C27 112.6%);
  background-blend-mode: darken;
  cursor: pointer;
}

.modal__button_refuse {
  width: 180px;
  height: 50px;
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
  background-blend-mode: darken;
  border-radius: 8px;
  border: 0;
  color: #ffffff;
  font-size: 18px;
}

.modal__button {
    display:flex;
    gap:20px;
}


.modal__button_refuse:hover{
    background: linear-gradient(90deg, #493013 0%, #a7104f 100%);
    cursor: pointer;
}

.modal__button_refuse:active{
    background: linear-gradient(90deg, #704718 0%, #d7065d 100%);
    background-blend-mode: darken;
    cursor: pointer;
}