.orderNumber {
  height: 28px;
  position: relative;
  display: flex;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  box-sizing: border-box;
}

.orderNumber__text {
  margin-left: 64px;
  margin-top: 5px;
  margin-bottom: 5px;
}
