.headerAdmin {
  display: flex;
  height: 67px;
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
  position: relative;
  z-index: 1;
}

.headerAdmin_container {
  display: flex;
  height: 67px;
  background: #ffffff;
  box-shadow: 0px 2.5px 9.5px rgba(90, 97, 105, 0.12);
  position: relative;
  z-index: 1;
}

.headerAdmin__searchIcon {
  margin: 0 9px 0 27px;
  width: 14px;
  align-self: center;
}

.headerAdmin__input {
  align-self: center;
  width: calc(100% - 14px - 67px - 217px);
  border: none;
  outline: none;
}

.headerAdmin__notifications {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 67px;
  box-shadow: 0.5px 0px 0px #cacedb, -0.5px 0px 0px #cacedb;
}

.headerAdmin__user {
  width: 217px;
  display: flex;
  align-self: center;
  position: relative;
}

.headerAdmin__avatar {
  margin: 0 13px 0 25px;
}

.headerAdmin__name {
  align-self: center;
}

.headerAdmin__imgDropDown {
  position: absolute;
  right: 32px;
  top: 19px;
}
