.finalCard_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.finalCard_text_content_title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #121212;
}

.finalCard_text_content_carNumber {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
  margin-left:7px;
}
.finalCard_text_content_carNumber_container {
  border: 1px solid #999999;
  border-radius: 4px;
  width:50%;
}
.finalCard_text_content_gas {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}
.finalCard_text_content_availableTime {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.finalCard_text_content {
  margin-left: 3.5%;
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.finalCard_img {
  margin-top: 3%;
  width: 256px;
  height: 116px;
  margin-right: 20%;
}
