.colorBlock {
  margin-left: 1px;
}

.colorBlock__blockName {
  margin-top: 30px;
  margin-bottom: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #121212;
}

.colorBlock__container {
  display: flex;
  margin-top: 15px;
  margin-bottom: 20px;
  align-items: center;
}

.colorBlock__label {
  display: inline-flex;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  align-items: center;
  margin-right: 15px;
}

.colorBlock__input {
  position: absolute;
  opacity: 0;
  border: 1px solid #999999;
  box-sizing: border-box;
}

.colorBlock__fakeCheckbox {
  display: inline-block;
  width: 12px;
  height: 12px;
  border: 1px solid #999999;
  border-radius: 50%;
  position: relative;
  margin-right: 5px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 3px solid #0ec261;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    box-sizing: border-box;
  }
}

.colorBlock__input:checked + .colorBlock__fakeCheckbox::before {
  opacity: 1;
}
input[type="radio"]:checked + span + .colorBlock__checkBoxName {
  color: #121212;
}

span .colorBlock__label {
  margin-bottom: 5px;
}
