.сarCardSetup {
  width: 335px;
  height: 506px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(90, 97, 105, 0.12);
  border-radius: 9px;
  margin: 30.5px 0 0 27px;
}

.сarCardSetup__carSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.сarCardSetup__img {
  max-width: 243.5px;
  max-height: 110px;
  margin: 34px 0 10px 0;
}

.сarCardSetup__carName {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24.5px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.6125px;
  color: #3d5170;
  margin-bottom: 4.5px;
}

.сarCardSetup__carClass {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 12.5px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.3125px;
  color: #818ea3;
  margin-bottom: 10.5px;
}

.сarCardSetup__formForInputFile {
  width: 231.5px;
  height: 29px;
  margin-bottom: 22.5px;
  position: relative;
}

.сarCardSetup__label {
  position: relative;
}

.сarCardSetup__input {
  width: 231.5px;
  height: 29px;
  border: 0.5px solid #becad6;
  border-radius: 4px;
  outline: 0;
  padding: 0 0 1px 13px;
  margin-bottom: 22.5px;
  box-sizing: border-box;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 14px;
  letter-spacing: -0.18421px;
  color: #495057;

  &::placeholder {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.175439px;
    color: #495057;
  }
  &_error {
    border: 0.5px solid #c4183c;
  }
}

.сarCardSetup__textError {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: -0.175439px;
  color: #c4183c;
  position: absolute;
  top: 30px;
  margin-left: 13px;
}

.сarCardSetup__button {
  background: #e9ecef;
  border: 0.5px solid #becad6;
  width: 65.5px;
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 4px 4px 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: -0.175439px;
  color: #495057;
  position: relative;
  right: -166px;
  bottom: 51.5px;
  box-sizing: border-box;

  &_error {
    border: 0.5px solid #c4183c;
    border-left: 0.5px solid #becad6;
  }
}

.сarCardSetup__progressSetup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.12), 0px 1px 0px rgba(0, 0, 0, 0.12);
  margin-bottom: 22.5px;
}

.сarCardSetup__textContainer {
  display: flex;
  justify-content: space-between;
  width: 290px;
  margin-bottom: 10px;
}

.сarCardSetup__textCompleted {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.408571px;
  color: #868e96;
}

.сarCardSetup__textPercentage {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: -0.345714px;
  color: #5a6169;
}

.сarCardSetup__description {
  display: flex;
  flex-direction: column;
  margin: 0 22px 0 22px;
  position: relative;
}

.сarCardSetup__titleDescription {
  margin-bottom: 14px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.408571px;
  color: #868e96;
}

.сarCardSetup__textArea {
  width: 285px;
  height: 86.5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 20px;
  letter-spacing: -0.408571px;
  color: #5a6169;
  outline: none;
  resize: none;
  border: none;
  &::placeholder {
    font-size: 13.5px;
    color: #5a6169;
  }
}

.сarCardSetup__textError {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: -0.175439px;
  color: #c4183c;
  position: absolute;
  top: 118px;
}

progress {
  width: 290px;
  height: 5px;
}
