.addСolorBlock {
  position: relative;
  width: 296px;
  display: flex;
  flex-direction: column;
  margin: 0 0 15px 18px;
}

.addСolorBlock__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10.5px;
  line-height: 12px;
  letter-spacing: -0.18421px;
  color: #121212;
  margin-bottom: 4.5px;
}

.addСolorBlock__input {
  width: 270px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #becad6;
  border-radius: 4px;
  outline: none;
  padding-left: 11px;

  &_error {
    border: 0.5px solid #c4183c;
  }
}

.addСolorBlock__textError {
  position: absolute;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  letter-spacing: -0.175439px;
  color: #c4183c;
  margin: 49px 0 0 10.5px;
}

.addСolorBlock__addColorButton {
  width: 30px;
  height: 30px;
  position: absolute;
  border: 1px solid #becad6;
  border-radius: 4px;
  right: -24px;
  top: 16.5px;
  background: none;

  &::before {
    position: absolute;
    left: 13px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: #becad6;
    top: 7px;
    transform: rotate(0deg);
  }
  &::after {
    position: absolute;
    left: 13px;
    content: " ";
    height: 15px;
    width: 2px;
    background-color: #becad6;
    top: 7px;
    transform: rotate(-90deg);
  }
}

.checkBoxColors {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-left: 18px;
  width: 100px;
}

.checkBoxColors__label {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.checkBoxColors__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkBoxColors__fakeCheckbox {
  display: inline-flex;
  align-items: center;
  user-select: none;
  width: 13px;
  height: 13px;
  background: #ffffff;
  border: 0.5px solid #becad6;
  border-radius: 1px;
  box-sizing: border-box;
  position: relative;

  &::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 40%;
    left: 80%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-size: 100% 90%;
    flex-shrink: 0;
    flex-grow: 0;
    background-position: center center;
    z-index: 15;
  }
}

.checkBoxColors__input:checked + .checkBoxColors__fakeCheckbox::before {
  opacity: 1;
  width: 7.32px;
  height: 5.59px;
  top: 45%;
  left: 50%;
  background: url(../../assets/svg/checkForCarCard.svg) no-repeat;
}

input[type="checkbox"]:checked + .checkBoxColors__fakeCheckbox {
  border: 0.5px solid #007bff;
  background-color: #007bff;
  border-radius: 2px;
}

.checkBoxColors__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: -0.175439px;
  color: #495057;
}
