@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
}

////Стили для слайдера



.swiper-pagination-bullets {
  --swiper-pagination-bullet-inactive-color: #EEEEEE;
  margin-bottom: 3%;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #0EC261;
}

.swiper-button-prev {
  //ok
  --swiper-theme-color: #EEEEEE;
  --swiper-navigation-size: 30px;
}

div .swiper-button-prev {
  background: none;
  width: 64px;
  height: 105%;
  left: 0;
  top: 0;
}

div .swiper-button-prev:hover {
  background: rgba(14, 194, 97, 0.2);
}

.swiper-button-prev:hover {
  cursor: url(./assets/svg/Cursor.svg), pointer;
}

.swiper-button-next {
  --swiper-theme-color: #EEEEEE;
  --swiper-navigation-size: 30px;
}

div .swiper-button-next {
  background: none;
  width: 64px;
  height: 105%;
  right: 0;
  top: 0;
}

div .swiper-button-next:hover {
  background: rgba(14, 194, 97, 0.2);

}

.swiper-button-next:hover {
  cursor: url(./assets/svg/Cursor.svg), pointer;
  z-index: 5;
}

.swiper-button-disabled {
  //ok
  color: #EEEEEE;
}

.swiper-pointer-events {
  height: 100vh;
}

.Slider_slideImg {
  height: 100vh;
}

///@at-root


.mainContent {
  display: flex;
  position: relative;

  min-height: 100%;
  min-width: calc(100% - 64px);
  margin: 0;
  padding: 0;
  margin-left: 64px;
}

.leftSide {
  position: relative;
  flex: 0 1 50%;
  /* width: 50%; */
  height: 100vh;
  margin: 0;
  padding: 0;

}

.rightSide {
  position: relative;
  flex: 0 1 50%;
  /* width: 50%; */
  height: 100vh;
  z-index: 1;
  margin: 0;
  padding: 0;
}


/* .navigation {
  margin-left:64px;
} */


/////@at-root
.containerBurg {
  cursor: url(./assets/svg/Cursor.svg), pointer;
  position: absolute;
  width: 30px;
  height: 20px;
  z-index: 5;
  margin-top: 30%;
}

.containerBurg::before,
.containerBurg::after,
.containerBurg span {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: white;
}

.containerBurg::after,
.containerBurg::before {
  content: '';
}

.containerBurg::before {
  top: 0;
}

.containerBurg::after {
  bottom: 0;
}

.containerBurg span {
  top: 40%;
  transform: scale(1) translate(0px, 50%);
}

.containerBurg.active span {
  top: 40%;
  transform: scale(0) translate(0px, 50%);
}

.containerBurg.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}

.containerBurg.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}


//





@media screen and (max-width: 1024px) {
  div .swiper-button-prev {
    background: none;
    width: 32px;
    height: 105%;
    left: 0;
    top: 0;
  }

  div .swiper-button-prev:hover {
    background: #0EC261;
    opacity: 0.2;
  }

  div .swiper-button-next {
    background: none;
    width: 32px;
    height: 105%;
    right: 0;
    top: 0;
  }

  div .swiper-button-next:hover {
    background: #0EC261;
    opacity: 0.2;
  }



  .leftSide {
    width: 57%;

  }

  .rightSide {
    width: 43%;

  }
}

@media screen and (max-width: 768px) {


  .rightSide {
    display: none;
  }

  .leftSide {
    min-width: 100%;
  }

  .mainContent {
    margin-left: 64px;
  }

}


@media screen and (max-width: 370px) {

  .containerBurg::before,
  .containerBurg::after,
  .containerBurg span {
    background-color: black;
  }

  .containerBurg.active::before,
  .containerBurg.active::after,
  .containerBurg.active span {
    background-color: white;
  }


  .mainContent {
    margin-left: 0;
  }
}
















///Category

.mainContent__page {
  position: relative;
  min-height: 100%;
  min-width: calc(100% - 64px);
  margin: 0;
  padding: 0;
  margin-left: 64px;
}





.category__container {
  display: flex;
  position: relative;
  /* margin-left: 2.5%; */
  /* margin-top: 5%; */
  min-height: 100%;
}


.category__container_leftSide {
  position: relative;
  height: 100%;
  width: 70%;
  margin:0;
  padding:0;
}

.category__container_rightSide {
  position: relative;
  min-height: 100%;
  width: 30%;
  border-left-style: solid;
  border-color: #EEEEEE;
  margin:0;
  padding:0;
}



.link {
  text-decoration: none;
  color: inherit;
}

.NavLink .active {
  color: #0EC261;
}

/////Store
.mainContent__page_container{
  display:flex;
  min-width: 100%;
}

.rightSide_store{
  position: relative;
  width:30%;
  border-left-style: solid;
  border-color: #EEEEEE;
}

.leftSide_store{
 width:70%;
 position: relative;
}