.orderCardLine__line {
  display: flex;
  height: 63px;
  width: 1018px;
  margin: 15.5px 0 0 21px;
}

.orderCardLine__imgCar {
  width: 138px;
  height: 63px;
}

.orderCardLine__orderDescription {
  width: 286px;
  height: 63px;
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: -0.408571px;
  color: #889098;
  gap: 6px;
  justify-content: center;
  margin-left: 16px;
}
.orderCardLine__carName {
  color: #121212;
}

.orderCardLine__placeOfDelivery {
  color: #121212;
}

.orderCardLine__colorText {
  color: #121212;
}

.orderCardLine__checkboxBlock {
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-self: center;
  margin-left: 78px;
  position: relative;
}

.orderCardLine__textPrice {
  align-self: center;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.754286px;
  color: #121212;
  display: flex;
  width: 210px;
  justify-content: center;
}

.orderCardLine__buttons {
  display: flex;
  align-self: center;
}