.carListAdminPanel-wrapper {
  overflow: auto;
  height: calc(100% - 68px - 67px);
  background: #f5f6f8;
}

.carListAdminPanel-wrapper__title {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 400;
  font-size: 29px;
  line-height: 33px;
  letter-spacing: -0.725px;
  color: #3d5170;
  margin: 28px 0 0 27px;
}

.carListAdminPanel-wrapper__mainContent {
  width: 1062px;
  height: 446px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(90, 97, 105, 0.11),
    0px 2px 4px rgba(90, 97, 105, 0.12), 0px 5px 5px rgba(90, 97, 105, 0.06),
    0px 3.5px 35px rgba(90, 97, 105, 0.1);
  border-radius: 9px;
  margin: 30px 0 0 27px;
  position: relative;
}

.carListAdminPanel-wrapper_notFound{
  margin-left:21.5px;
}