.header-container {
  height: 90px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-container__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #0ec261;
  margin-top: 27px;
  margin-left: 64px;
}

.header-container__geolocation {
  margin-right: 64px;
}

.header-container__geolocationLine {
  margin-top: 37px;
  display: flex;
  align-items: center;
}

.header-container__city {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  margin-left: 4px;
  margin-top: 1px;
}
