* {
  margin: 0;
  padding: 0;
}




.swiper-pagination-bullets {
  --swiper-pagination-bullet-inactive-color: #EEEEEE;
  margin-bottom: 3%;
}

.swiper-pagination-bullet-active {
  --swiper-theme-color: #0EC261;
}

.swiper-button-prev {
  //ok
  --swiper-theme-color: #EEEEEE;
  --swiper-navigation-size: 20px;
}

.swiper-button-next {
  //ok
  --swiper-theme-color: #EEEEEE;
  --swiper-navigation-size: 20px;
}

.swiper-button-disabled {
  //ok
  color: #EEEEEE;
}

.overlayTwo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  mix-blend-mode: normal;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.greenContain {
  position: absolute;
  width: 40px;
  height: 100%;
  left: 95%;
  top: 0px;
  background: #0EC261;
  opacity: 0.2;
}

 

.slideImg {
  //position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.sliderSW {
  width: auto;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.overlayContainer {
  margin: 0;
  padding: 0;
}

/* @media screen and (min-width: 2200px) {
  .slideH {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }

  .slideText {
    font-size: 1.5vw;
    line-height: 1.5vw;
  }

  .informationOne {
    font-size: 1.5vw;
    width: 15vw;
    height: 4vw;
    border-radius: 0.7vw;
  }

  .informationTwo {
    font-size: 1.5vw;
    width: 15vw;
    height: 4vw;
    border-radius: 0.7vw;
  }

  .informationThree {
    font-size: 1.5vw;
    width: 15vw;
    height: 4vw;
    border-radius: 0.7vw;
  }

  .informationFour {
    font-size: 1.5vw;
    width: 15vw;
    height: 4vw;
    border-radius: 0.7vw;
  }
} */

/* @media screen and (max-width: 1024px) {

  .slideH {
    font-size: 32px;
  }

  .slideText {
    font-size: 22px;
  }


} */